.text-hero {
    text-align: center;
}

.brand__container {
    max-width: 85%;
    margin: 0 auto;
}

.brand__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand__list {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: center;
}

.brand__list a {
    /* width: 150px; */
    flex-grow: 1;
    /* width: 100%; */
    /* width: 100%; */
    /* height: 55px; */
    text-decoration: none;
    color: #000;
}

.brand__item {
    /* margin: 5px 10px; */
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 0;
    text-align: center;
    transition: all .2s ease;
}

.brand__item:hover, .brand__item.active {
    color: #000;
    background-color: #fff;
    border-bottom: 1px solid #000;
}


.brand__item a:hover {
    text-decoration: underline;
    color: #000;
}

.cart-count {
    text-decoration: none;
    color: black;
}

.cart-count span {
    font-weight: bold;
    font-size: 20px;
    color: red;
}



